<div class="contact">
  <div class="container">
    <div class="emergencia">Contactos de emergencia</div>
    <div class="linea_atencion">
      Llama a las líneas de atención correspondientes a tu necesidad.
    </div>
    <div class="lista_lineas">
      <div>
        <div>
          <img src="assets/imgs/telefono_contorno.svg" />
          <span class="numero">123</span>
          <span class="descripcion_linea"
            >Línea Única de Atención de Emergencias</span
          >
        </div>
        <div>
          <img src="assets/imgs/telefono_contorno.svg" />
          <span class="numero">167</span>
          <span class="descripcion_linea"
            >Línea Antinarcóticos </span
          >
        </div>
        <div>
          <img src="assets/imgs/telefono_contorno.svg" />
          <span class="numero">165</span>
          <span class="descripcion_linea"
            >Línea Antisecuestro y Antiextorsión</span
          >
        </div>
        <div>
          <img src="assets/imgs/telefono_contorno.svg" />
          <span class="numero">155</span>
          <span class="descripcion_linea"
            >Línea Atención a Mujeres</span
          >
        </div>
      </div>
      <div>
            <div>
                    <img src="assets/imgs/telefono_contorno.svg" />
                    <span class="numero">123</span>
                    <span class="descripcion_linea"
                      >Línea Única de Atención de Emergencias</span
                    >
                  </div>
                  <div>
                    <img src="assets/imgs/telefono_contorno.svg" />
                    <span class="numero">167</span>
                    <span class="descripcion_linea"
                      >Línea Antinarcóticos </span
                    >
                  </div>
                  <div>
                    <img src="assets/imgs/telefono_contorno.svg" />
                    <span class="numero">#767</span>
                    <span class="descripcion_linea"
                      >Línea Antisecuestro y Antiextorsión</span
                    >
                  </div>
                  <div>
                    <img src="assets/imgs/telefono_contorno.svg" />
                    <span class="numero">155</span>
                    <span class="descripcion_linea"
                      >Línea Atención a Mujeres</span
                    >
                  </div>
      </div>
    </div>
  </div>
</div>
