<footer>
    <div class="container">
            <div>
                    <div class="column imagenes">
                            <img src="assets/imgs/bandera.svg"/>
                            <img class="marca" src="assets/imgs/marca.svg"/>
                        </div>
                    <div class="separador"></div>    
                    <div class="column">
                        <div class="titulo_portal">Portal Único del Estado Colombiano</div>
                        <div class="info_description">
                            <b>Dirección:</b><br> Edificio Murillo Toro Cra. 8a entre calles 12A y 12B. Bogotá, Colombia.
                        </div>
                        <div class="info_description">
                            <b>Horarios de atención:</b><br> • Atención Presencial: Martes, Miércoles y Viernes de 9:00 am a 3:00 pm jornada continua. <br>• Atención Canales Virtuales: Lunes a viernes de 8:30 am - 4:30 pm.
                        </div>
                        <div>
                                <b>Código Postal:</b><br> 111711
                            </div>
                    </div> 
                    <div class="separador"></div> 
                    <div class="column">
                        <div class="titulo_icon"><img src="assets/imgs/phone.svg"> Contacto</div>
                        <div>
                                <b>Teléfono:</b> <br>• Nacional: 01 8000 95 2525 • Bogotá: +(57) 601 390 7950 <br>  • Línea Anticorrupción: 01-800-0912667 
                                
                        </div>

                        <div class="correo">
                                <b>Correo Institucional:</b><br> soporteccc@mintic.gov.co 
                        </div>

                        <div class="llamadas">
                            <span>Solicita una llamada</span>  
                            <span>Llamada web</span> 
                            <span>Hablemos en línea</span> 
                        </div>
                    </div>  
                    <div class="separador"></div> 
                    <div class="column">
                            <div class="titulo_icon"><img src="assets/imgs/info-circle.svg"> Acerca del sitio</div>
                            <div class="mapa">
                                    <span>Solicita una llamada</span>  
                                    <span>Llamada web</span> 
                                    <span>Hablemos en línea</span> 
                            </div>
                            <div class="titulo_icon"><img src="assets/imgs/child.svg"> Ayudas de accesibilidad</div>

                            <div class="redes">
                                <div><span><img src="assets/imgs/twitter.svg"/></span> <span>Síguenos en Twitter</span></div>
                                <div><span><img src="assets/imgs/facebook.svg"/></span> <span>Síguenos en Facebook</span></div>
                            </div>
                    </div>


            </div>
            
    </div>
    
</footer>
